/* Header */
.social_media {
    padding: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: white;
    justify-content: right;
    align-items: right;
    display: flex;
}

.social_media_ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: right;
}

.icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
    padding: 0.25rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
    height: 200px;

    max-width: 100%;
    height: auto;
    padding-bottom: 1rem;
}


.menue {
    background-color: #96E0EB;
    margin: 0;
    padding: 0;

    width: 100%;
}

.menue_list {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;

    display: -webkit-box;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menue_list li {
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center;
}

.menue_elements {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem;
    font-family: KohinoorBangla-Light;
}

.menue button {
    color: #6E7479;
}

.geschlossen {
    display: inline-block;
    transform: rotate(-90deg);


}

/* Main */

h1 {
    font-family: SavoyeLetPlain;
    font-size: 40px;
    color: #96E0EB;
    text-align: center;
    padding: 10px;
    padding-bottom: 0rem;
}

h2 {
    font-family: SavoyeLetPlain;
    font-size: xx-large;
    color: #96E0EB;
    text-align: center;
    padding: 10px;
    padding-bottom: 0rem;
}

.kleidung {
    max-width: 100%;
    height: auto;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: #6E7479;
    text-align: left;
    font-family: KohinoorBangla-Light;
    font-size: medium;
    /*display: left;
    vertical-align: middle;
    margin: auto;*/
    width: 100%;
    padding: 10px;
    padding-top: 1rem;
}

.partner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_formular {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: auto;
    margin-bottom: auto;
    border: 2.5px solid #6E7479;
    background-color: white;
    flex-direction: column;
    font-family: KohinoorBangla-Light;

  }

.formular_content {
    padding-left: 10rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #6E7479;
}

.formular_content h3{
    margin-bottom: 0;
}

/*footer*/
.footer {
    background-color: #96E0EB;
    margin: 0;
    padding: 0;

    width: 100%;
}

.footer_list {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;

    display: -webkit-box;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_list li {
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center;
}

.footer_elements {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem;
    font-family: KohinoorBangla-Light;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Button bei großen Viewports ausblenden */
[aria-controls="navi-liste"] {
    display: none;
}

@media screen and (max-width: 2000px) {
    .kleidung img {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 520px) {

    .menue {
        position: relative;
    }

    .menue_list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
    }

    .menue_list li {
        padding: 0;
        border-bottom: 1px solid white;
    }

    .menue button {
        border: none;
        background-color: white;
        position: absolute;
        top: -60px;
        font-size: 30px;
        padding: 10px;
        margin: 0;
        display: flex;
    }

    .partner img{
            max-width: 100%;
            height: auto;
    }
    [aria-controls="navi-liste"] {
        display: block;
    }

    .menue_list {
        display: none;
    }

    .formular_content {
        padding-left: 1rem;
    }

    [aria-expanded="true"]~ul {
        display: block;
    }

    [aria-expanded="false"] .geschlossen {
        display: none;
    }

    [aria-expanded="true"] .geschlossen {
        display: inline-block;
    }

    [aria-expanded="true"] .offen {
        display: none;
    }
}


